{% extends '::base.html.twig' %}

{% block body %}
<div class="row">
	
	<div class="col-sm-1">
		<div class="widget-container widget_login styled boxed with-ribbon">
			<div class="ribbon" style="position: absolute; top:10px;left:-33px;"><span>Lorem</span></div>
			<div class="inner" style="padding-top:60px;">
			    Ipsum
			</div>
		</div>
	</div>
	<div class="col-sm-offset-10">
	</div>
	<div class="col-sm-1">
		<div class="widget-container widget_login styled boxed with-ribbon">
			<div class="ribbon" style="position: absolute; top:10px;left:-33px;"><span>Lorem</span></div>
			<div class="inner" style="padding-top:60px;">
			    Ipsum
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-2">
		<div class="widget-container widget_login styled boxed with-ribbon">
			<div class="ribbon" style="position: absolute; top:10px;left:-33px;"><span>Lorem</span></div>
			<div class="inner" style="padding-top:60px;">
			    Ipsum
			</div>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="widget-container widget_login styled boxed with-ribbon">
			<div class="ribbon" style="position: absolute; top:10px;left:-33px;"><span>Lorem</span></div>
			<div class="inner" style="padding-top:60px;">
			    Ipsum
			</div>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="widget-container widget_login styled boxed with-ribbon">
			<div class="ribbon" style="position: absolute; top:10px;left:-33px;"><span>Lorem</span></div>
			<div class="inner" style="padding-top:60px;">
			    Ipsum
			</div>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="widget-container widget_login styled boxed with-ribbon">
			<div class="ribbon" style="position: absolute; top:10px;left:-33px;"><span>Lorem</span></div>
			<div class="inner" style="padding-top:60px;">
			    Ipsum
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<div class="widget-container widget_login styled boxed with-ribbon">
			<div class="ribbon" style="position: absolute; top:10px;left:-33px;"><span>Lorem</span></div>
			<div class="inner" style="padding-top:60px;">
			    Ipsum
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<div class="widget-container widget_login styled boxed with-ribbon">
			<div class="ribbon" style="position: absolute; top:10px;left:-33px;"><span>Lorem</span></div>
			<div class="inner" style="padding-top:60px;">
			    Ipsum
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="widget-container widget_login styled boxed with-ribbon">
			<div class="ribbon" style="position: absolute; top:10px;left:-33px;"><span>Lorem</span></div>
			<div class="inner" style="padding-top:60px;">
			    Ipsum
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="widget-container widget_login styled boxed with-ribbon">
			<div class="ribbon" style="position: absolute; top:10px;left:-33px;"><span>Lorem</span></div>
			<div class="inner" style="padding-top:60px;">
			    Ipsum
			</div>
		</div>
	</div>
</div>

{% endblock %}
