{% extends '::base.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
	{% if app.user %}
	    Here is the Home page when connected
	{% else %}
	    ici une redirection vers le login
	{% endif %}

	</div>
</div>
{% endblock %}
