.ribbon {
	position: absolute;
	left: -33px;
	top:10px;
}

div.with-ribbon .inner {
	padding-top: 60px;
}

.with-ribbon {
	position: relative;
}

.table-striped:nth-child {
	background-color:red;
}

.right {
	float:right;
}

.left {
	float:left;
}

.table-hover > tr:hover {
	background-color: red;
}