{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Bungalow creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('bungalow') }}" class="btn">
            <span>Back to the list</span>
        </a>
    </li>
</ul>
{% endblock %}
